<div id="nav" class="nav" style="position: relative">
    <div class="container">
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="{{ API_BASE_URL ~ '/convencionais' }}">Sistemas Convencionais</a>
            </li>
            <li>
                <a href="{{ API_BASE_URL ~ '/inovadores' }}">Sistemas Inovadores</a>
            </li>
            <li>
                <a href="{{ API_BASE_URL ~ '/documentos' }}">Documentos</a>
            </li>
            {% if auth.check %}
                <li>
                    <a href="{{ API_BASE_URL ~ '/cadastro' }}">Cadastrar Documentos</a>
                </li>
                <li>
                    <a href="{{ API_BASE_URL ~ '/auth/logout' }}">Sair</a>
                </li>

            {% endif %}
        </ul>
    </div>
</div>