<div class="well">
    <form method="POST" ng-controller="CadastroController" ng-submit="submit()" enctype="multipart/form-data">
        <div class="show">
            <div class="tituloForm">
                <H4>Dados do Documento</H4>
                <hr class="divider">
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label ">Sistema *</label>
                        <select class="form-control selectContainer" name='sistema' ng-model="sistema"
                                ng-change="mudaSolucao(sistema)" required>
                            <option value="">Selecione...</option>
                            <option ng-repeat="option in listaSistema.options" value="{{ '{{option.txt_sistema }}' }}">
                                {{ '{{option.txt_sistema }}' }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Solução *</label>
                        <select class="form-control selectContainer" ng-change="mudaTipoSolucao(solucao)"
                                ng-model="solucao"
                                name='solucao' ng-model="listasolucao.model" required>
                            <option value="">Selecione...</option>
                            <option ng-repeat="option in listaSolucao.options" value="{{ '{{ option.cod_solucao}}' }}">
                                {{ '{{ option.txt_solucao}}' }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Tipo Solução *</label>
                        <select class="form-control selectContainer"
                                ng-change="adicionaDescricao(tiposistemaconvencional)" name='solucao'
                                ng-model="tiposistemaconvencional" required>
                            <option value="">Selecione...</option>
                            <option ng-repeat="option in listaTipoSolucao.options"
                                    value="{{ '{{ option.cod_tipo_solucao}}' }}">
                                {{ '{{ option.txt_descricao_tipo_solucao}}' }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Data de emissão: *</label>
                        <input type="date" class="form-control" id="data-emissao" ng-model="dataemissao"
                               name="data-emissao"
                               placeholder="yyyy-MM-dd" required/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Proponente: *</label>
                        <input type="text" class="form-control" id="proponente" ng-model="proponente" name="proponente"
                               required/>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="control-label">Selecione o Arquivo: *</label>
                    <input type="file" accept="application/pdf" class="form-control" ng-model="arquivo"
                           onchange="angular.element(this).scope().prepareUpload(event)"
                           id="arquivo">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">Descrição *</label>

                    <textarea name="descricao" rows="6" disabled ng-model="descricao.txt_descricao_tipo_solucao"
                              class="form-control" placeholder=""
                              cols="80"></textarea>
                </div>
            </div>
            <br>
            <div class="form-actions">
                <button type="submit" class=" btn btn-lg btn-primary">
                    Upload
                </button>
            </div>
        </div>

    </form>
</div>

